((clojure-mode . ((cider-lein-command . "docker-compose")
                  (cider-lein-global-options . "run --rm --service-ports repl lein")
                  (cider-lein-parameters . "repl :headless :host 0.0.0.0 :port 7000"))))
